<%- include('../_partial/header.ejs'); %>

<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>

<table>
  <tr>
    <td>
      <table bgcolor=black cellpadding=1>
        <tr>
          <% if (page > 1) { %>
          <td class=b bgcolor=#474747 background=/img/stoneback.gif>
            <center><a href='/news<%= category ? '?cat=' + category.id : '' %><%= category && page - 1 > 1 ? '&' : '?' %><%= page - 1 > 1 ? 'page=' + (page - 1) : '' %>'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center>
          </td>
          <% } else { %>
          <td width="88px">
            &nbsp
          </td>
          <% } %>
        </tr>
      </table>
    </td>

    <td width=40>&nbsp</td>

    <td valign=bottom>
      <table width=250 bgcolor=black cellpadding=4>
        <tr>
          <td class=e>
            <% if (category) { %>
            <center><b>Latest <%= category.name %> News</b><br><a href="/title" class=c>Main Menu</a></center>
            <% } else { %>
            <center><b>Latest News</b><br><a href="/title" class=c>Main Menu</a></center>
            <% } %>
          </td>
        </tr>
      </table>
    </td>

    <td width=40></td>

    <td>
      <table bgcolor=black cellpadding=1>
        <tr>
          <% if (more) { %>
          <td class=b bgcolor=#474747 background=/img/stoneback.gif>
            <center><a href='/news?<%= category ? ('cat=' + category.id + '&') : '' %>page=<%= page + 1 %>'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center>
          </td>
          <% } else { %>
          <td width="88px">
            &nbsp
          </td>
          <% } %>
        </tr>
      </table>
    </td>
  </tr>
</table>

<a href='/news?cat=0' class=white>All Categories</a> -
<% let counter = 1; for (let i = 0; i < categories.length; i++) { const cat = categories[i]; %>
<a href='/news?cat=<%= cat.id %>' class="<%= cat.style %>"><%= cat.name %></a><% if (counter >= 3) { %><br><% counter = 0; } else if (i < categories.length - 1) { counter++; %> -<% } %>
<% } %>

<table width=500 bgcolor=black cellpadding=4>
  <tr>
    <td class=e>
      <center>
        <table width=490>
          <tr>
            <td width="25%"><b>Category</b></td>
            <td><b>News Item</b></td>
            <td width="25%" align="right"><b>Date</b></td>
          </tr>
          <% for (let i = 0; i < newsposts.length; i++) { const post = newsposts[i]; const category = categories[post.category_id - 1]; const day = post.date.getDate(); const month = post.date.toLocaleString('default', { month: 'short' }); const year = post.date.getFullYear(); %>
          <tr>
            <td class="<%= category.style %>"><%= category.name %></td>
            <td><a href="/news/<%= post.id %>"><%= post.title %></a></td>
            <td align='right'><%= day %>-<%= month %>-<%= year %></td>
          </tr>
          <% } %>
        </table>
      </center>
    </td>
  </tr>
</table>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
