<%- include('../_partial/header.ejs', { title: 'Create Account' }); %>

<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: 'Finish' }); %>

<%- include('../_components/content-body-start-left.ejs'); %>

<br>
<center>
    <table cellspacing=1 cellpadding=2 border=0>
        <tr>
            <td style="background-color:35210F;" height=26px;>Choose A Username</td>
            <td> > </td>
            <td style="background-color:35210F;">Terms And Conditions</td>
            <td> > </td>
            <td style="background-color:35210F;">Choose A Password</td>
            <td> > </td>
            <td style="background-color:35210F;">
                <font color="#ffbb22">Finish</font>
            </td>
        </tr>
    </table>
</center>

<p>Your account has now been created with the username and password you
    have chosen</p>
<p>We have many guides and manuals on the RuneScape website that you
    will find extremely helpful. The following are some of the most
    important that you will need to be aware of:</p>

<center>
  <table>
    <tr>
      <td>
        <table cellSpacing=1 border=0 align=middle>
          <tbody>
            <tr>
              <td>
                <li><a class=c href="/guides/rules">Rules and security tips</a> (Learn our rules and stay safe online)
                </li>
              </td>
            </tr>
            <tr>
              <td>
                <li><a class=c href="#">Getting started guide</a> (How to play RuneScape)</li>
              </td>
            </tr>
            <tr>
              <td>
                <li><a class=c href="/members">RuneScape Members</a> (Get the premium version of the game)</li>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>

        <br>

        <center>
          <table>
            <tr>
              <td>
                Click below to start.<br>
              </td>
            </tr>
            <tr>
              <td>
                <table cellpadding="2" width="97" height="45">
                  <tbody>
                    <tr>
                      <td style="border-color: rgb(87, 7, 0); background-color: rgb(87, 7, 0);" class="b2" id="playgamebut" background="/img/title/shinystonered.jpg" bgcolor="#570700">
                        <center>
                          <a class="whitelink" href="/detail"><b>Play<br> Game</b></a>
                        </center>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</center>

<%- include('../_components/content-body-end-left.ejs'); %>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
