<%- include('../_partial/header.ejs', { title: 'Create Account' }); %>

<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: 'Terms and Conditions' }); %>

<%- include('../_components/content-body-start-left.ejs'); %>

<br>

<center>
  <table cellspacing=1 cellpadding=2 border=0>
    <tr>
      <td style="background-color:382418;" height=26px;>Choose A Username</td>
      <td> > </td>
      <td style="background-color:382418;">
        <font color="#ffbb22">Terms And Conditions</font>
      </td>
      <td> > </td>
      <td style="background-color:382418;">Choose A Password</td>
      <td> > </td>
      <td style="background-color:382418;">Finish</td>
    </tr>
  </table>
</center>

<% if (typeof error !== 'undefined') { %>
  <p class="red">ERROR: <%= error %></p>
<% } %>

<p>The username <a href="/create?reset" class=c><%= username %></a> is currently available. To sign up for an account you must agree to our Terms and Conditions.</p>

<p><hr>TODO<hr></p>

<p>Your information will never be shared with anyone else or used for nefarious purposes. This is just a hobby project to preserve a game we all love.</p>

<center>
  <form method="post">
    <input type="hidden" value="<%= username %>" name="username">
    <input type="submit" value="I Agree">
    <input type="button" value="I Do Not Agree" onClick="window.location.href='/title'">
  </form>
</center>

<%- include('../_components/content-body-end-left.ejs'); %>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
