<%- include('../_partial/header.ejs'); %>
<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: 'Getting Started', links: [ { text: 'Manual', href: '/manual' }] }); %>

<%- include('../_components/content-body-start.ejs'); %>
<center><b>How do I get started?</b><br><br></center>

<p>Getting started in RuneScape is an easy and quick process. You can literally be playing within a few minutes.</p>

<center><p><b><u>Creating an Account</u></b></center>

<p>First of all you must create your account.</p>
<p>This can be done by clicking <a href="/create" class=c>here</a>. Once you've done that come back here to continue the guide.</p>

<center><p><b><u>Playing for the first time</u></b></center>
<p>You play the game by clicking the <a href=/detail class=c>play game</a> link from the RuneScape main page. This will take you to a screen which gives you the option to play in high or low detail.</p>

<table border=0 width=450 cellpadding=0>
   <tr>
      <td valign=top>You will want to select High Detail for now. If you have problems with the high detail version, try the low detail version by going back to the front page and selecting play game again.</td>
      <td>&nbsp;</td>
      <td><img src="/img/about/highdetail.jpg"></td>
   </tr>
</table>

<p>This will take you to our world select screen. You will need to select the free world for now (the top area of the page).</p>

<table border=0 width=450>
   <tr>
      <td valign=top>
         All of the worlds are identical in terms of content, the only difference being the players playing on each one. Select one of the worlds by clicking one of the green links. <br><br>
         (Any one will do, although some people find choosing a world with a location nearest to them gives them the best game playing speed)
      </td>
      <td valign=top><img src="/img/about/worldselect.gif"></td>
   </tr>
</table>

<table>
   <tr>
      <td><img src="/img/about/secwarn.jpg" width=307 height=237></td>
      <td>
         The initial download process will then start. During the download a grey security box will pop up.<br><br>
         You will be asked 'Do you want to install and run Runescape?'<br><br>
         You should check the box that appears next to 'Always trust content from Jagex Ltd' and then click 'Yes'.
      </td>
   </tr>
</table>
<p>When the game has loaded you will be presented with a login screen. Enter the username and password you chose when you created your account and click Okay.</p>

<table border=0 width=450>
<tr><td valign=top>You will then be presented with a character design page

<p><center>
<img src="/img/about/rs2/designchar.jpg"></center><p>
You should use the right and left arrows to toggle each option until you are happy with your characters look. 

<p>You can change all of the physical appearances of your character as viewed from the screenshot above. There are options in game for you to change your appearance again, though beware it will cost you RuneScape currency for such a privilege so make sure your character design choices are ones you like!

<p>Once you have finished you should click the accept button which will launch your character into our tutorial Island!</td>
</tr>
</table>

<p><center><b>Tutorial Island</b></center>

<p>Tutorial Island is the first place your character will enter in RuneScape.

Here you will be introduced to the basics of RuneScape and also participate in some of the skills and trades available. You will be taken through a variety of skills by each instructor which will include casting spells, fishing, mining, combat and much more!
<br><br>

<table border=0 width=450>
   <tr>
      <td valign=top>
         This should only take about 20 minutes to complete and you will then be teleported to Lumbridge town where your RuneScape adventure will truly begin!
         <p>From there you will be able to interact with all of our players, and begin your own journey in RuneScape!</p>
      </td>
      <td><img src="/img/about/rs2/tut.jpg"></td>
   </tr>
</table>

<center><b>Further References</b><br>(All accessible from main page)</center>

<center><p><b>How To Play Guide</b></center>

<p>Here you can find information on game controls, skills, quests, rules of conduct and many helpful guides. We suggest you take the time to read this as it contains a wealth of information that will enable you to play RuneScape to its fullest potential.</p>

<p><center><b>News and Updates</b></center>

<p>Here you can keep up to date with the development of RuneScape including news on game updates, customer support issues, behind the scenes info, community news and much more.</p>
<p>It's worth checking this regularly as we update on a weekly basis.</p>
<%- include('../_components/content-body-end.ejs'); %>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
