<%- include('../_partial/header.ejs', { title: 'About' }); %>
<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: 'About RuneScape', links: [ { text: 'How to Play Index', href: '/manual' }] }); %>

<table>
  <tr valign=top>
    <td>
    <table width=240 bgcolor=black cellpadding=4>
      <tr>
        <td class=e>
          <center>
            <table width=150 bgcolor=black cellpadding=2>
              <tr>
                <td class=b bgcolor=#474747 background=/img/stoneback.gif><center>What is RuneScape?</td></tr></table>
                <table>
                  <tr>
                    <td>
                      <a href=/about/whatisrs><img src=/img/about/whatisrs.jpg width=95 height=65 border=0></a>
                    </td>
                    <td>
                    Information on RuneScape the game.<br>
                    <a href=/about/whatisrs class=c>Click here</a>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>
    </td>

    <td width=10></td>

    <td>
      <table width=240 bgcolor=black cellpadding=4>
        <tr>
          <td class=e>
            <center>
              <table width=150 bgcolor=black cellpadding=2><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>What is a virtual world?</td></tr></table>  
              <table>
                <tr>
                  <td>
                    <a href=/about/virtual class=c><img src='/img/about/virtualworld.jpg' width=95 height=65 border=0></a></td>
                    <td>
                      Information on virtual worlds.<br>
                      <a href=/about/virtual class=c>Click here</a>
                    </td>
                  </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- COMMENTED OUT FOR FUTURE USE -->
  <!-- <tr><td colspan=3>&nbsp;</td></tr>

  <tr valign=top>
    <td>
      <table width=240 bgcolor=black cellpadding=4>
        <tr>
          <td class=e>
            <center>
              <table width=150 bgcolor=black cellpadding=2><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>Game Screenshots</td></tr></table>  
              <table>
                <tr>
                  <td>
                    <a href=/about/virtual class=c><img src='/img/about/screenshots.jpg' width=95 height=65 border=0></a></td>
                    <td>
                      A selection of in game screenshots of RuneScape.<br>
                      <a href=screenshots class=c>Click here</a>
                    </td>
                  </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>
    </td>

    <td width=10></td>
  </tr> -->
</table>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
