<%- include('../_partial/header.ejs', { title: 'Virtual world' }); %>
<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: 'What is a virtual world?', links: [ { text: 'About RuneScape', href: '/about' }] }); %>

<%- include('../_components/content-body-start.ejs'); %>
<center><b>What is a virtual world?</b></center>

<p>A virtual world is a place where thousands of people from across the globe can interact with each other at the press of a button. Not only will you meet players of all ages and backgrounds, but your actions will have a real impact on shaping the environment and the development of RuneScape.</p>
<p>Whatever the time you log in there will be thousands of online players in our community to interact with. Combine that with over a 1000 different objects to find/trade and a large landscape to explore, you will always have something exciting to attend to.</p>
<p>You have the absolute freedom and opportunity to create your own virtual life. So why not <a href="/about/getstart">get started?</a></p>
<%- include('../_components/content-body-end.ejs'); %>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
