<%- include('../_partial/header.ejs'); %>
<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: 'What is RuneScape', links: [ { text: 'About RuneScape', href: '/about' }] }); %>

<%- include('../_components/content-body-start.ejs'); %>

<center><b>What is RuneScape?</b></center>
<p>Runescape is a massive multiplayer adventure, with monsters to kill, quests to complete, and treasure to win. You control your own character who will improve and become more powerful the more you play. This isn't a game where everything that happens is pre-determined. What you do in the world is up to you!</p>
<p>RuneScape isn't a game you can just finish in a week, and we are adding in more features and quests on a regular basis to ensure there is always something new for you to try!</p>
<p>So, read on and most importantly, have fun!</p>
<p>Andrew Gower (Head of Development)</p>

<center><b>Game Features</b></center><br>

<center><b>Skills</b></center>
<p>There are plenty of skills within RuneScape that you can work at. You could train your character to be an all rounder or you can specialize and perhaps earn a living practicing a craft such as cooking or crafting. The choice is yours and with the large selection of skills available you will definately be spoilt for choice. You can find more information on our skills <a href="/rs2/skills">here</a>.</p>

<center><b>Quests</b></center>
<p>Many of the characters in the game can give you quests to go on, each with different rewards. If you are brave you can search for riches in the dungeons or sewers but make sure you are well armed! Try your hand at archery, or learn some magic spells to give yourself an extra advantage. More information on our quests can be found <a href="/rs2/quests">here</a>.

<center><b>Global community</b></center>
<p>The game is multiplayer which means you will meet many other people in the world who you can communicate and trade with. Make new friends and go adventuring together to stand a better chance against the stronger monsters. Perhaps you want to make your money trading valuable goods with others. Or if you like taking risks, you can choose to fight with like-minded people to try and steal their treasure. <br><br>(Please see our <a href="/guides/safety">safety guide</a> so you can be safe and have fun.)</p>

<center><b>RuneScape Ingredients</b></center>
<p>
   <ul>
      <li>Over 730,000 map tiles make up the huge world</li>
      <li>Over 1,080 frames of animation for the monsters and players</li>
      <li>Over 1,000 different objects to find and trade</li>
      <li>Over 22,000 items of scenery with over 950 different designs</li>
      <li>Over 3,200 characters all walking around the map, with over 700 different designs</li>
   </ul>
</p>
<%- include('../_components/content-body-end.ejs'); %>

<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
