<%- include('./_partial/header.ejs', { title: 'Disabling Cookies' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Disabling Cookies' }); %>

<%- include('./_components/content-body-start.ejs'); %>
<p>Disabling cookies will prevent websites from being able to use cookies to track your browsing patterns and preferences. There are some general instructions below and some specific instructions for Internet Explorer 6.</p>

<p>
   <b>General instructions for Windows PC</b><br>
   <a target="_blank" href="http://privacy.getnetwise.org/browsing/tools/">GetNetWise's Instructions on disabling cookies on a Windows PC</a>
</p>

<p>
   <b>General instructions for Mac</b><br>
   <a target="_blank" href="http://privacy.getnetwise.org/browsing/tools/mac/">GetNetWise's Instructions on disabling cookies on a Mac</a>
</p>

<b>Specific instructions for Internet Explorer 6</b>

<p>
   <img src="/img/cookie/iecookie1.jpg" alt="Select Internet Options" style="margin: 10px" /><br>
   1. Select <b>Tools</b> -> <b>Internet Options</b> in Internet Explorer.
</p>

<p>
   <img src="/img/cookie/iecookie2.jpg" alt="Select the Privacy tab and click on Edit" style="margin: 10px" /><br>
   2. Select the Privacy tab and click on Edit.
</p>

<p>
   <img src="/img/cookie/iecookie3.jpg" alt="Enter runescape.com into the box and click on Block" style="margin: 10px" /><br>
   3. Enter runescape.com into the box and click on Block.
</p>

<p>
   <img src="/img/cookie/iecookie4.jpg" alt="Click on Okay" style="margin: 10px" /><br>
   4. Click on Okay here and in the Internet Options window.
</p>

<%- include('./_components/content-body-end.ejs'); %>

<%- include('./_components/content-end.ejs'); %>
<%- include('./_partial/footer.ejs'); %>
