<%- include('./_partial/header.ejs'); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>

<form action="serverlist" method="get" style="display:inline">
  <table>
    <tr>
      <td>
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
          <DIV STYLE="LEFT: 0px; TOP: 0px; width:100%; POSITION: absolute;">
            <center>
              <table width=250 bgcolor=black cellpadding=4>
                <tr>
                  <td class=e>
                    <center>
                      <b>Select Detail Level</b><br>
                      <a href="/title" class=c>Main Menu</a>
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </div>
        </div>

        <DIV STYLE="LEFT: 0px; TOP: 180px; POSITION: relative;">
          <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
            <INPUT type=image name='hires' src='/img/gamewin/rs2blank.gif' width=185 height=105 border=0>
          </div>
        </div>
        <DIV STYLE="LEFT: 336px; TOP: 180px; POSITION: relative;">
          <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
            <INPUT type=image name='lores' src='/img/gamewin/rs2blank.gif' width=185 height=105 border=0>
          </div>
        </div>
        <DIV STYLE="LEFT: 109px; TOP: 306px; POSITION: relative;">
          <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
            <IFRAME SRC="banner?size=300" WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no></IFRAME>
          </div>
        </div>

        <DIV STYLE="LEFT: 0px; TOP: 571px; POSITION: relative;">
          <DIV STYLE="LEFT: 0px; TOP: 0px; width:100%; POSITION: absolute;">
            <center>
              <table width=518 height=88>
                <tr>
                  <td align=center>
                    <span style="font-size:11px" color="white">Select a play method</span><br>
                    <select name='method' id='method' style="background-color: #B1977E;">
                      <option value='0'> JavaScript Web Client</option>
                      <option value='1'> Java (5+) Web Client</option>
                      <option value='2'> Desktop Client</option>
                    </select>
                  </td>
                </tr>
              </table>
            </center>
          </div>
        </div>

        <img src="/img/playgame/detailwithad.jpg" width=522 height=668 border=0>
      </td>
    </tr>
  </table>
</form>

<%- include('./_components/content-end.ejs', { nobr: true }); %>
<%- include('./_partial/footer.ejs'); %>
