<%- include('./_partial/header.ejs', { title: 'Downloads' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Downloads' }); %>

<%- include('./_components/content-body-start-left.ejs'); %>
<b>Extra Files</b>
<h3>Available for Download</h3>

<hr>
Note: You don't need to download any of these files to play RuneScape. You can play the game directly in your web browser by pressing "Play Game" on the front page.<br>
<br>
The following files are bonus extras which are provided in addition to the game for players who want them.
<hr>

<b>Game Client</b>
<ul>
    <li>Launch RuneScape directly from your desktop, without all that browser clutter;</li>
    <li>Doesn't require administrator privileges for your PC or Mac;</li>
    <li>The application is open source. For a copy of the source, <a href="https://github.com/2004scape/JagexLauncher">click here</a> and <a href="https://github.com/2004scape/JagexAppletViewer">also here</a>.</li>
</ul>
<a href="/downloads/LostCityInstaller.msi">Download for Windows</a>

<br>
<hr>

<b>World Map (18th May 2004)</b><br>
Get the complete RuneScape world map as an image. Right-click on the "Download Now" link and click on "Save Target/Link As..." to download.<br>
<br>
<a href="/img/rs2/worldmap/worldmap2.jpg">Download Now</a>
<%- include('./_components/content-body-end-left.ejs'); %>

<%- include('./_components/content-end.ejs'); %>
<%- include('./_partial/footer.ejs'); %>
