<%- include('./_partial/header.ejs'); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>

<%- include('./_components/stones-border-top.ejs'); %>
<%- include('./_components/stones-content-start.ejs'); %>

<img src=/img/title/blank.gif height=7 width=1><br>

<b style="font-size: larger;">What is 2004Scape?</b><br>

<br>

This is an emulation of RuneScape as it was in 2004.<br>
It exists for the sake of nostalgia and preservation of the game's history.<br>

<br>

It is not representative of today's RuneScape and does not involve any of their live services.<br>
<b>You <em>cannot</em> play Old School RuneScape here or buy RuneScape gold!</b><br>

<hr>

<%- include('./_partial/disclaimer.ejs'); %>

<a href="/title">Please click here to continue, acknowledging you understand the above statements.</a><br>

<%- include('./_components/stones-content-end.ejs'); %>
<%- include('./_components/stones-border-bottom.ejs'); %>

<%- include('./_components/content-end.ejs'); %>
<%- include('./_partial/footer.ejs', { nodisclaimer: true }); %>
