<%- include('./_partial/header.ejs'); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Privacy policy' }); %>

<%- include('./_components/content-body-start.ejs'); %>
<p><b>Jagex Privacy Policy</b></p>
<p>Jagex Limited (Jagex) is committed to your privacy and makes every effort to ensure the confidentiality of your personally identifiable information.<p>
<p>We respect the privacy rights of our online visitors and recognise the importance of protecting the information collected about you. We have adopted a corporate wide Privacy Policy that guides how we collect, store and use the information you provide.</p>
<p>
   Jagex currently operates the following web sites and subdomains thereof: 
   <li>jagex.com
   <li>runescape.com
   <li>jagex.co.uk
   <li>runescape.co.uk
   <li>runescape.net
   <li>runescape.org
</p>
<p>Please read this privacy policy carefully, as once you use any of our web sites, you will be deemed to have read and accepted this privacy policy.</p>

<p><b>What personal information is collected?</b></p>
<p>The only personal information we collect about you is information which you provide yourself via forms on our website, or our billing partners websites. (e.g. when you register with us, contact customer support, or sign up for membership)</p>
<p>No personal information is collected when you access the public areas of our website</p>
<p>No personal information is collected when you play our single player games</p>
<p>To play our multiplayer board games you will need to create an account and provide a username,password and email address</p>
<p>To play RuneScape or use certain areas of our websites you will need to create an account and provide a username & password</p>
<p>To sign up for RuneScape membership you will need to provide contact information including: your name, a valid email address, gender, home address, phone/fax number, zip/postal code, and country.</p>
<p>
   To make use of our customer support service you will need to provide an email address and information relating to your query. To enable us to provide a better customer support service we may also ask you provide contact information including: your name, email, postcode and country, and to provide a number of security questions which we can use to verify your identity if you require assistance in the future. The questions and the answers you provide are up to you. You may opt-out of providing some of this information but it will limit the effectiveness of our support service if you do.
   We also sometimes collect and store other information by way of a questionnaire to assist our advertisers and partners.
</p>
<p>You may opt-out of providing any information by simply choosing not to complete the form requesting the information, and hence choosing not to use that particular service.</p>

<p><b>What other information is stored?</b>
<p>We use cookies, ip-addresses, and other unique identifiers in order to identify specific computers that access our services.</p>
<p>We generate and store logs indicating usage of our site and activity in our games.</p>
<p>We store 'save game' and 'game settings' information to enable us to provide a better games service in which your activities and achievements are remembered in the game.</p>

<p><b>What happens to the information provided/collected?</b></p>
<p>The information may be used:</p>
<p>a) To provide our customer support service, and to verify any claims or requests you make if you use our customer support service.</p>
<p>b) To enforce our terms and conditions, and prevent hacking activities against our site.</p>
<p>c) To send service announcements which contain important information about our service, our site, or your account. (For example an email reminder is sent to members if a subscription payment is due)</p>
<p>d) To aggregate information to generate anonymous statistics regarding use of our services. We may share this anonymous information with our partners and advertisers. This is not linked to any personal information that can identify any individual person.</p>
<p>e) For our own internal marketing and demographic studies, so we can consistently improve our sites to better meet our visitors' needs</p>
<p>f) To disclose information to the extent required by law, court order, as requested by other government or law enforcement authority, or to enforce legal rights.</p>
<p>We respect your privacy, except as specified above we will not sell, rent, or disclose your personal information to other companies. We will not use your email address to send you 'spam'.</p>

<p><b>Cookies</b></p>
<p>This website uses cookies to track your country (to enable locale enhanced information) and to track where you entered our site from. If you wish to opt-out of the use of these cookies <a href="/cookies" class=c>click here</a> for clear instructions.</p>

<p><b>A special note about children 12 years old and under</b></p>
<p>Jagex encourages parents to spend time online with their children.  We urge parents to instruct their children to never give out their real names, addresses or phone numbers, without permission, when using the Internet. No information may be submitted to Jagex by persons under the age of 18 without the consent of a parent or guardian, unless permitted by applicable laws.</p>

<p><b>Third party sites</b>
<p>We partner with third parties to provide specific services. As part of these services Jagex might store information, that was entered via the third party's site in our database.</p>
<p>We use outside billing companies (worldpay.com, paybycash.com, BT Click and Buy, metacharge.com) to process membership payments securely. These companies do not retain, share, store or use your personally identifiable information for any secondary purposes.</p>
<p>We use outside companies (real.com, realmedia.com, advertising.com, ad2-one.co.uk) to provide and serve the adverts on our website. These companies privacy policies can be found on the real.com, realmedia.com, ad2-one.co.uk, and advertising.com websites respectively.</p>

<p>Please note that this policy applies only to sites maintained by Jagex, and not to web sites maintained by other companies or organisations to which we link. Furthermore, from time to time Jagex may employ third parties who may collect personal information on Jagex's behalf. In such cases, such third parties will be instructed by Jagex to comply with the Jagex Privacy Policy as set forth herein.</p>
<p>Jagex Limited is not responsible for the privacy practices of third party sites. Whenever you provide registration information on co-branded or private label sites, that data may be shared with the third-party company providing the service. You should make every effort to read the individual privacy policies of such third parties and make an informed decision on your own whether or not to continue based upon these sites' privacy practices and your own discretion. You may opt-out of sharing your information with such providers by choosing not to use that service or content.</p>

<p><b>Safeguarding your personally identifiable information</b></p>
<p>Jagex will only collect personally identifiable information to the extent deemed reasonably necessary to serve our legitimate business purposes, and Jagex will maintain appropriate safeguards to ensure the security, integrity and privacy of the information you have provided. In addition, Jagex will take reasonable steps to assure that third parties to whom Jagex transfer any data will provide sufficient protection of that personal information.</p>

<%- include('./_components/content-body-end.ejs'); %>

<%- include('./_components/content-end.ejs'); %>
<%- include('./_partial/footer.ejs'); %>
