<%- include('./_partial/header.ejs', { title: 'Terms and conditions' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Terms and conditions' }); %>

<%- include('./_components/content-body-start.ejs'); %>
<p>This website is operated and maintained by Jagex Limited, a company registered in England and Wales (registered number 3982706), whose registered office is 11 Sturton Street, Cambridge, CB1 2SN, UK and its suppliers and partners ("Jagex"). Jagex and Runescape are registered trademarks of Jagex Limited in the United Kingdom and trademarks used in other countries of the world.</p>
<p>Use of this website and the services provided via it are conditional upon you accepting the following Terms and Conditions.  Unless otherwise specified, your acceptance shall be indicated by your use of this website.  If you do not accept these Terms and Conditions, you must not use this website.</p>
<p><b>Online games</b></p>

<p>
   <u>Single Player Games</u><br>
   These require no registration or subscription to access and play.
</p>

<p>
   <u>Multiplayer Games</u><br>
   These require no subscription, but do require you to choose a Username and a Password to access and play.
</p>

<p>
   <u>RuneScape</u><br>
   There are two versions of RuneScape, a Free Version which requires no subscription but does require you to choose a Username and a Password to access and play, and a Members Version which is Subscription-based.  Your use of RuneScape is also subject to our <a href="/guides/rules" class=c>Rules of Conduct.</a>
</p>

<p>
   <u>Username</u><br>
   You must not choose a Username that infringes the rights of any third party, impersonates Jagex staff of other users, or which is deliberately confusing or which is offensive, racist, obscene or otherwise unlawful.  We reserve the right to change any Username for any reason.
</p>

<p>
   <u>Password</u><br>
   You agree to keep your Password safe at all times and not to disclose it to any other person.  You must ensure that your computer is kept free of viruses and Trojans to ensure the safety of your password.  Real Jagex staff will never ask you for your current password.
</p>

<p>
   <u>Subscription</u><br>
   Some contents and/or services on this website are subscription-based.  If you elect to purchase subscription-based content/services and transmit to us a subscription purchase request, you warrant that all the information that you submit is true and accurate (including without limitation your credit card number and expiration date, and other payment details), and you agree to pay all subscription fees you incur including all applicable taxes.
</p>

<p>
   <u>RuneScape Account</u><br>
   You agree that your RuneScape character and account and items are and remain the property of Jagex. You may not sell, transfer or lend your account to anyone else, or permit anyone else to use your account, and you may not accept an account which anybody else offers you.
</p>

<p>You may create more than one RuneScape account, but if you do, you may not log into more than one account at any time, and they must not interact with each other in any way.  Using one account to drop objects for transfer to another of your accounts is not allowed.</p>
<p>We reserve the right to delete all your accounts, block your access to our website and services, and/or take further legal action if you violate any of these terms and conditions. We may delete or modify any account at any time for any reason.</p>

<p>
   <u>Sign-Up</u><br>
   By signing-up for an account you are opting-in to allow us to store personal information, cookies, etc. as described in our <a href="/privacy" class=c>Privacy Policy</a>.
</p>

<p>
   <u>Chat facility</u><br>
   When using the chat facility you must not use any language which may be considered by others to be offensive, racist or obscene, or otherwise infringes the rights of third parties.  You must not use the chat facility to harass, threaten, scam or deceive other players.  You agree that the chat facility is only for role-playing in the game, and is not designed or intended to be used as a forum for other types of discussion. You must not use the chat facility to advertise
   other websites or products.
</p>

<p>You agree that for the purpose of preventing offensive language and cheating we may automatically or manually censor the chat as we see fit, and that we may record or monitor the chat to help us identify offenders.  Sexually harassing, threatening, stalking or otherwise harassing others may result in legal action being taken against you.</p>
<p>If you are the victim of the sort of behaviour described above, or receive any other unwanted communications you must use the built in facilities to block the messages. If there is a particular user causing a problem then use the ignore function to block further messages (to do this in RuneScape Classic point at the friends menu, click on the 'ignore' tab, click where it says 'click here to add a name' and enter the name of the user to block. In RuneScape click on the 'Ignore List' button, click where it says 'Add Name' and enter the name of the user to block). If you continue to receive unwanted messages, or receive harassment from multiple players you must use the privacy controls to block all messages from everyone except your friends (to do this In RuneScape Classic point at the configuration menu, and ensure all four privacy settings are switched to 'on'. In RuneScape there are three buttons below the game window marked 'Public chat', Private chat', and 'Trade/duel'. To block anyone other than your friends you will need to click the buttons until they display 'Friends'. To block everyone, including friends for complete privacy, click them until they display 'Off'.). If you continue to suffer problems, or are not satisfied then you must stop using this web site.</p>

<p>
   <u>Cheating</u><br>
   You must not exploit any cheats or errors which you find in the Multiplayer Games or RuneScape.  Any cheats or errors which you discover must be reported immediately to us.
</p>

<p>You must not attempt to use other programs in conjunction with the Multiplayer Games or RuneScape to give yourself an unfair advantage.  You may not use any bots or macros to control your character for you.  When you are not playing a Game you must logout.  You may not circumvent any of our mechanisms designed to logout inactive users automatically.</p>
<p>You must not misuse any of our customer service facilities. You must not deliberately enter false information into any of the forms on our website, or in our games. You must not encourage, or attempt to trick other players into breaking our rules.</p>
<p>
   <u>Provision of service</u><br>
   You must not reverse-engineer, decompile or modify the RuneScape client in any way.
   You must not use a modified/customised version of the RuneScape client. You must not create or provide any other means by which any of the Games provided by this web site may be played by others
   (including, without limitation, replacement or modified client/server software, server emulators).
</p>

<p>
   <u>Submission of content</u><br>
   Occasionally we may accept ideas and game additions that are submitted by users.
   You agree that by submitting material for inclusion in RuneScape you are giving us a
   non-exclusive, perpetual, worldwide, royalty-free license to use and/or modify the
   submitted materials as we see fit.  You agree that you will not withdraw the submission
   or attempt to make a charge for its use.  Furthermore you warrant that you are the exclusive
   copyright holder of the submission, and that the submission in no way violates any other person
   or entity's rights
</p>

<p><b>Cookies</b></p>
<p>This website uses cookies to track your country (to enable locale enhanced information) and to track where you entered our site from. If you wish to opt-out of the use of these cookies <a href="/cookies" class=c>click here</a> for clear instructions.</p>

<p><b>Availability</b></p>
<p>We will make reasonable commercial efforts to ensure that this web site is available 24 hours per day without any interruptions.  However, we reserve the right to make this web site unavailable at any time or to restrict access to parts or all of this website without notice.</p>

<p><b>Cancellation of Subscription</b></p>
<p>We reserve the right to cancel your Subscription at any time with immediate effect if you breach any of these terms and conditions, or our <a href="/guides/rules" class=c>Rules of Conduct.</a></p>
<p>You may cancel your Subscription to any fee-based content and/or services by contacting <a href="/support" class=c>Customer Support.</a></p>
<p>Upon cancellation you will not be charged any further subscription fees, and you will not be refunded any subscription fees already paid, except that we reserve the right to charge you for any unauthorised use of your Subscription by third parties.</p>

<p><b>Privacy</b></p>
<p>We shall comply with all applicable Data Protection laws in the UK.  For a description of how we use your personal data, please see our <a href="/privacy" class=c>Privacy Policy.</a></p>

<p><b>Parental guidance</b></p>
<p>Whilst we reserve the right to monitor and take action upon inappropriate use of this web site (including the posting of inappropriate or offensive material via the chat facility or otherwise), we cannot guarantee that this web site will not contain any content provided by third parties that is inappropriate, offensive or otherwise objectionable.</p>

<p><b>Safety Guides</b></p>
<p>Before using our services you should read the guides found in our <a href='/manual' class=c>manual</a>. Of particular importance, please read the <a href='/guides/safety' class=c>safety guide</a> and the <a href='/guides/epilepsy' class=c>epilepsy warning</a>.</p>

<p><b>Intellectual property</b></p>
<p>You hereby acknowledge that Jagex owns all intellectual property rights in the materials on this web site, including all materials associated with the Single Player Games, the Multiplayer Games and RuneScape.  You may not use these materials except as expressly provided in these terms and conditions.</p>

<p><b>Links</b></p>
<p>This web site includes links to other internet sites.  We make no representations or warranties about those sites or their content, nor that the links work.</p>

<p><b>Changes to these terms and conditions</b></p>
<p>Any variations to these terms and conditions shall be inapplicable unless agreed in writing by Jagex.  We may change or supplement these terms and conditions from time to time, and these changes shall form part of these terms and conditions, even if you do not re-visit this page to re-read the terms and conditions.</p>

<p><b>Your liability</b></p>
<p>If you use this web site for any illegal purpose or for any purpose other than that expressly permitted by these terms and conditions or otherwise in breach of these terms and conditions, you will be liable to indemnify us in full for any loss, liability or costs which we incur arising from or in connection with such use or alleged use.</p>

<p><b>Our liability</b></p>
<p>Except as expressly provided in these terms and conditions, we expressly disclaim any further representations, warranties, conditions or other terms, express or implied, by statute, collaterally or otherwise, including but not limited to implied warranties, conditions or other terms of satisfactory quality, fitness for a particular purpose or reasonable care and skill.</p>
<p>We shall not be liable in contract, tort (including negligence), statutory duty or collaterally or otherwise arising out of or in connection with these terms and conditions or this web site for consequential, indirect or special loss or damage or any economic losses (including loss of revenues, profits, contracts, business or anticipated savings), in each case, even if we have been advised of the possibility of such loss or damage and howsoever incurred.</p>
<p>Our maximum liability to you in contract, tort (including negligence), statutory duty or collaterally or otherwise arising out of or in connection with these terms and conditions or this web site shall be limited to &pound;50, or the sums paid by you to us in respect of any twelve month period, whichever is greater.</p>
<p>Notwithstanding any other provision of these terms and conditions, we will be liable to you without limit for any death or personal injury caused by our negligence and to the extent that liability arises under Part 1 or section 41 of the Consumer Protection Act 1987 and for liability arising from statements made fraudulently by us.</p>

<p><b>Assignment</b></p>
<p>You may not transfer any of your rights or delegate any of your obligations under these terms and conditions without our prior written consent.</p>

<p><b>Failure to enforce</b></p>
<p>If we fail to enforce any provision of these terms and conditions, that failure will not preclude us from enforcing either that provision (or any similar provision) on a later occasion.</p>

<p><b>General</b></p>
<p>Nothing in these terms and conditions affects your statutory rights as a consumer.  These terms and conditions are governed by English law and any dispute connected with this is subject to the exclusive jurisdiction of the English courts.</p>

<p><b>Copy Right</b></p>
<p>For all cases of requests regarding use of graphics or the reproduction of Jagex/RuneScape material please see our <a href="/copyright" class=c>Copyright FAQ</a></p>

<p><b>Complaints</b></p>
<p>If you are dissatisfied with this web site or any aspect of it, please contact<br> <a href="/support" class=c>Customer Support.</a></p>

<%- include('./_components/content-body-end.ejs'); %>

<%- include('./_components/content-end.ejs'); %>
<%- include('./_partial/footer.ejs'); %>
