<%- include('./_partial/header.ejs', { title: 'Why Choose RuneScape?' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Why Choose RuneScape?' }); %>

<%- include('./_components/content-body-start.ejs'); %>
<table width=492 height=620 bgcolor=black cellpadding=4 border=0 background=/img/about/whyrsbg.jpg>
  <tr>
    <td width=500>
      <p><font color='#ffbb22'><b>Why should you choose RuneScape as your number one online multiplayer game?</b></font>
      <p>The answer is simple - it's <b>accessible to ALL!</b>
      <p>RuneScape is accessible to nearly everyone using the Internet.<br>Using a 56k modem/phone line it takes less than 5 minutes to fully download the game and start playing!
      <p>Minimum system requirements are 64mb ram. Works on Windows, Mac and Linux!
      <p><font color='#ffbb22'><b>Easy to get started</b></font>
      <p>Upon signing up for an account, there is a short (and fun!) tutorial to complete which takes you through the basics of the game. After that you will be let loose in the world of RuneScape amongst thousands of players!
      <p><font color='#ffbb22'><b>Free to play</b></font>
      <p>Our free servers give you unlimited play! There is no limit to how long you can keep using the free version for, and there's hours and hours of things to do! So even if you're short on cash you won't be left out.
      <p><font color='#ffbb22'><b>Member's benefits</b></font>
      <p>Our member's benefits are massive. Quadruple bank space, more quests, more monsters, more landscape, more weapons, advert free play, priority customer support and much, much more. And our subscriptions cost far less than our competitors. For more info please <a href='/members' class=c>click here</a>.
      <p><font color='#ffbb22'><b>So what are you waiting for?</b></font>

      <br><br>

      <center>
        <table>
          <tr>
            <td width=150>
              <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
                <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
                  <a href='/about/getstart'><img src=/img/title/blank.gif width=100 height=45 border=0></a>
                </div>
                <table width=100 height=45 bgcolor=black cellpadding=2><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><b>Create Account</b></center></td></tr></table>
              </div>
            </td>
            <td width=20></td>
            <td width=150>
              <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
                <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
                  <a href='/about'><img src=/img/title/blank.gif width=100 height=45 border=0></a>
                </div>
              </div>
              <table width=100 height=45 bgcolor=black cellpadding=2><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><b>Learn<br>More</b></center></td></tr></table>
            </td>
          </tr>
          <tr>
            <td><a href='/about/getstart' class=c>Start playing now!</a></td>
            <td></td>
            <td><a href='/about' class=c>RuneScape Guides</a></td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<%- include('./_components/content-body-end.ejs'); %>

<%- include('./_components/content-end.ejs'); %>
<%- include('./_partial/footer.ejs'); %>
